<!DOCTYPE html>
<html>
  <head>
    <title>Elko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    "elko/application", media: "all" %>
    <%= javascript_include_tag "elko/application" %>
  </head>
  <body class='body sidebar-toggled'>
    <%= render partial: 'elko/dashboard/shared/navbar' %>
    <div id='wrapper'>
      <%= render partial: 'elko/dashboard/shared/sidebar' %>
      <div id='content-wrapper'>
        <div class='container-fluid'>
        <%= render partial: 'shared/flash' %>
        <%= yield %>
        </div>
        <%= render partial: 'elko/dashboard/shared/footer' %>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </body>
</html>
