<!DOCTYPE html>
<html>
  <head>
    <title>Elko Engine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <%= stylesheet_link_tag    'elko/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'elko/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <%= render partial: 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
