<div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <div class='form-group'>
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email", class: 'form-control' } %>
              </div>
              <div class='form-group'>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password", class: 'form-control' } %>
              </div>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: 'btn btn-block btn-primary' %>
            </div>
          <% end %>
          <div class="text-center small">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
