<h2 class='float-left'>Edit</h2>

<div class='float-right'>
  <% if block_model::VIEWABLE %>
    <%= link_to fa_icon('eye', text: "View this #{@item_name.singularize.titleize}"), { action: :show, id: @item }, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to fa_icon('eye', text: "View all #{@item_name.pluralize.titleize}"), {action: :index, controller: @item_name.pluralize.underscore}, class: 'btn btn-success btn-md' %>
</div>

<hr class='fix-float'>

<%= simple_form_for @item, url: {action: :update} do |f| %>

  <%= f.submit class: 'float-right mb-10 btn btn-md btn-primary' %>

  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit class: 'mb-10 btn btn-md btn-primary' %>

  <br>

  <p><%= link_to 'Back', :back %></p>

<% end %>