<h2 class='float-left'><%= @item.class.to_s.titleize %></h2>

<div class='float-right'>
  <%= link_to fa_icon('eye', text: "View all #{@item_name.titleize.pluralize}"), {action: :index, controller: @item_name.pluralize.underscore}, class: 'btn btn-success btn-md' %>

  <% if block_model::EDITABLE %>
    <%= link_to fa_icon('edit', text: "Edit #{@item_name.titleize.singularize}"), {action: :edit, id: @item }, class: 'btn btn-success btn-md' %>
  <% end %>

  <% if block_model::DELETEABLE %>
    <%= link_to fa_icon('trash', text: "Delete #{@item_name.titleize.singularize}"), {action: "destroy", id: @item }, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-md' %>
  <% end %>

  <% if block_model::PUBLISHABLE %>
    <% if @item.unpublished? %>
      <%= link_to fa_icon('upload', text: "Publish #{@item_name.titleize.singularize}"), {action: :toggle_status }, data: { confirm: 'Are you sure?' }, method: :post, class: 'btn btn-success btn-md' %>
    <% else %>
      <%= link_to fa_icon('upload', text: "Unpublish #{@item_name.titleize.singularize}"), {action: :toggle_status }, data: { confirm: 'Are you sure?' }, method: :post, class: 'btn btn-success btn-md' %>
    <% end %>
  <% end %>
</div>

<hr class='fix-float'>

<%= render 'content' %>