<h2>Meta Website Information</h2>

<hr>

<%= simple_form_for @site_info, url: elko_site_info_path do |f| %>

  <%= f.input :website_name,
    label: 'What is the name of your business/website?',
    placeholder: 'Enter name here' 
  %>

  <hr>

  <%= image_tag @site_info.logo, width: '150' if @site_info.logo.attached?%>
  <p></p>
  <%= f.input :logo, label: 'Do you have a logo? add or change it here.'%>

  <%= f.submit 'Update Website Information', class: 'btn btn-primary' %>

<% end %>