<h2>Dashboard</h2>
<hr> 
<div class='row'>
  <% @blocks.each do |block| %>
    <div class='col-md-3'>
      <div class="card text-white bg-<%= cycle('primary', 'success', 'warning', 'danger', 'info', 'dark') %> mb-3">
        <div class="card-header"><%= block.title %></div>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to "View #{block.title}", {controller: block.controller}, style: 'color:white;'%>
          </h5>
        </div>
      </div>
    </div>
  <% end %>  
</div>