@import 'bootstrap.min.css';
@import 'variables';
@import 'sb-admin';
@import 'trix';

.fix-float {
  clear: both;
}

.image-container {
  padding: 10px;
  text-align: center;
}

.multiple-images {
  background-color: lightgrey;
  overflow-y: scroll !important;
  max-height: 350px;
  padding: 10px;

  .image-box {
    display: inline-block;
    text-align: center;

    &-image {
      height: 200px;
      width: auto;
    }
  }
}