$primary-color: #1a232a;
$secondary-color: darken($primary-color, 3%);

.btn {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn:focus {
  border-color: $secondary-color !important;
}

.btn:active {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
}

.bg-primary{
  background-color: #3498db !important;
}

.bg-success{
  background-color: #2ecc71 !important;
}

.bg-danger {
  background-color: #e74c3c !important;
}

.bg-warning {
  background-color: #f1c40f !important;
}

.bg-secondary {
  background-color: #95a5a6 !important;
}

.bg-info {
  background-color: #9b59b6 !important;
}