<ul class="sidebar navbar-nav toggled">
  <li class="nav-item active">
    <a class="nav-link" href="<%= elko_root_path %>">
      <i class="fas fa-fw fa-clipboard"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= elko_users_path %>">
      <i class="fas fa-fw fa-user"></i>
      <span>Elko Users</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= elko_settings_path %>">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Settings</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= edit_elko_site_info_path %>">
      <i class="fas fa-fw fa-info"></i>
      <span>Site Info</span>
    </a>
  </li>
  <% if defined? root_path %>
    <li class="nav-item active">
      <a class="nav-link" href="<%= root_path %>">
        <i class="fas fa-fw fa-eye"></i>
        <span>View Website</span>
      </a>
    </li>
  <% end %>
</ul>