<h2><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <div class='form-group'>
    <%= f.input field, input_html: { class: 'form-control' }%>
  </div>
<% end -%>

<%= f.button :submit, t("devise.invitations.new.submit_button") %>
<% end %>
