<h2>Update Your Profile</h2>
<hr>

<%= simple_form_for @user, url: edit_elko_user(@user) do |f| %>

  <%= f.input :first_name %>

  <%= f.input :last_name %>

  <%= f.input :email %>

  <%= f.input :%>

<% end %>