<h2 class='float-left'>Users</h2>
<%= link_to fa_icon('plus', text: 'Add User'), new_elko_user_invitation_path, class: 'btn btn-success btn-md float-right'%>

<hr class='fix-float'>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to fa_icon('trash', text: 'Delete'), elko_user_path(user), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>